<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部のトップ写真部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      BIKKE!! -ONLY THAT RIDER KNOWS-
    </h2>
    <p class='service-explain'>
      -ライダーにしかわからないことがある-
    </p>
    <p class='service-explain'>
      BIKKE!!はあなたのバイク探しをお手伝いします
    </p>
  </div>
  <%# /画面上部のトップ写真部分  %>

  <%# 検索部分 %>
<%= render "shared/search-list" %>
  <%# 検索部分 %>

  <%# レビュー一覧 %>
  <div class='bikke-contents'>
    <h2 class='title'>最新レビュー投稿一覧</h2>
    <%= link_to '新規投稿レビュー', "#", class: "subtitle" %>
    <ul class='bikke-lists'>
      <%#= render partial: 'item', collection: @items %>

    </ul>
  </div>
  <%# レビュー一覧 %>
</div>
<%= render "shared/footer" %>