* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  height: 16vh;
  padding: 2vh 10vw;
  display: flex;
  flex-direction: row;
}

.logo{
  width: 30vw;
}

.bikke-icon {
  width: 100%;
  height: auto;
}

.nav {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-signin {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}

.post-review {
  margin-right: 3vw;
}

.logout {
  text-decoration: none;
  color: #333333;
}
.guestlogin {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  padding: 2px 4px;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}