<footer class='second-fotter'>
  <%= image_tag "BIKKE!!logo.png", class:"second-fotter-logo"%>
    <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'>Copyright©︎BIKKE inc. All Rights Reserved</p>
  </div>
</footer>