.user-contents {
  display: flex;
  flex-direction: column;
}

.user-contents>h1 {
  font-size: 3vh;
  font-weight: bold;
  text-align: center;
}

.user-contents>h2 {
  font-size: 2vh;
  font-weight: bold;
  text-align: center;
}

.pagination {
  text-align: center;
}