@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a {
  text-decoration: none;
}

.main {
  background: #f8f8ff;
}

.alert {
  text-align: center;
  font-size: 2vh;
  background-color: #ffe4e1;
  
}

/* 画面上部のトップ写真部分 */
.title-contents {
  width: 100vw;
  height: 100vh;
  background-image: image_url('topphoto1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  color: #fff;
}

.title-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1vh 6vw;
  animation-name: fadeIn;
  animation-duration: 2s;
}

.service-title {
  font-size: 5vh;
}

.service-explain {
  font-size: 3vh;
  line-height: 40px;
}

.top-session {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1vh 5vw;
  animation-name: fadeIn;
  animation-duration: 2s;
}

.top-input-signin {
  width: 20vw;
  height: 5vh;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 16px 8px;
  border-radius: 4px;
}

.top-signin-btn {
  width: 20vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.top-signin-white-btn {
  height: 100%;
  padding: 0 5px;
  background-color: rgba(255, 180, 180, 0.8);
  border-radius: 4px;
}

.top-info-text-signup {
  font-size: 2vh;
}

.top-info-text-signup>span {
  font-weight: bold;
  color: #6495ed;
}

/* //画面上部のトップ写真部分 */

/* レビュー一覧 */

.review-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  list-style: none;
}

.review-contents>.title {
  font-size: 4vh;
  line-height: 1.4;
  font-weight: bold;
}

.review-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.review-lists>.list {
  width: auto;
  padding: 1vw;
  background-color: #f0fff0;
  margin: 1vw;
}


.review-img-content {
  display: flex;
  justify-content: center;
}

.review-img {
  width: 20vh;
  height: 20vh;
}

.review-info {
  background-color: #f0fff0;
  color: black;
  padding: 1vw;
}

.review-name {
  font-weight: bold;
  font-size: 1.5vw;
}

.review-recommend-eval {
  font-size: 1.5vh;
}

.recommend-eval-text {

}

/* /レビュー一覧 */