.search-result-content>h1 {
  font-size: 1.5vw;
  text-align: center;
  font-weight: bold;
}

.noresult {
  font-size: 1vw;
  text-align: center;
  font-weight: bold;
  margin-top: 1vh;
}

.redirect-btn {
  display: flex;
  justify-content: center;
  font-size: 1vw;
  margin-top: 2vh;
}

/*　排気量検索　*/
.category-result-title {
  text-align: center;
  font-size: 1.5vw;
  font-weight: bold;
}