/* レビュー概要 */

.review-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.review-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-img-content {
  width: 100%;
}

.review-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  object-fit: contain;
}

.review-prof-box {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
}

.review-prof-box>.review-title {
  font-size: 3vh;
  font-weight: bold;
  text-align: center;
}

.review-prof-box>.review-bike-states {
  font-size: 2vh;
}

.review-prof-box>.bold {
  font-weight: bold;
  font-size: 20px;
}

.recommend-eval {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.recommend-eval>.eval-text {
  font-size: 3vh;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1vh;
}

.recommend-eval>.eval-star {
  text-align: center;
}

.review-explain-box {
  font-size: 2vh;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-content {
  text-align: center;
  font-size: 3vh;
  font-weight: bold;
  margin-bottom: 2vh;
}

.review-star-eval {
  width: 70vw;
  margin-bottom: 2vw;
}

.star-group {
  margin-bottom: 1.5vh;
  display: flex;
  justify-content: center;
}

.star-group>.detail-review {
  margin-right: 3vw;
}

.star-group>.eval-star {
  margin-left: 1vw;
}

.edit-delete-group {
  display: flex;
}

.review-edit-btn {
  text-align: center;
  background-color: #ff8c0f;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 3vh 2vw;
  padding: 1vh 5vw;
}

.review-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 3vh 2vw;
  padding: 1vh 5vw;
}

/* /レビュー概要 */
/* コメント */
.comment-box {
  width: 40vw;
  background-color: #fff;
  margin: 4vh 0;
  text-align: center;
}

.comment_text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}

.comment_btn {
  line-height: 48px;
  background-color: #f4a460;
  border: 1px solid #f4a460;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin: 2vh 0;
}

.comment-user{
  color: #a9a9a9;
  font-size: 12px;
}

.comments-lists{
  list-style-type: none;
  text-align: left;
  margin-bottom: 1vh;
}

.comment-list {
  display: flex;
  justify-content: space-between;
}

.comment-text{
  overflow-wrap: break-word;
  margin: 0 1vw;
  color: black;
}

.comment-time{
  color: #C0C0C0;
  font-size: 8px;
}

.comment-text:hover,
.comment-time:hover {
  text-decoration: none;
}

.comment-delete-btn {
  color: #d3d3d3;
  border: 1px solid #d3d3d3;
  padding: 2px 4px;
  border-radius: 10px;
  margin-left: 1vw;
}
/* /コメント */